   @font-face {
   	font-family: 'IstokWeb_Regular'; /* Имя шрифта */
   	src: url('../fonts/IstokWeb-Regular.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/IstokWeb-Regular.woff2') format('woff2'),
          url('../fonts/IstokWeb-Regular.woff') format('woff'),
          url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
          url('../fonts/IstokWeb-Regular.svg#Exo2-Black') format('svg'),
          url('../fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype');
   }
      @font-face {
   	font-family: 'thim'; /* Имя шрифта */
   	src: url('../fonts/thim.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/thim.woff2') format('woff2'),
          url('../fonts/thim.woff') format('woff'),
          url('../fonts/thim.ttf') format('truetype'),
          url('../fonts/thim.svg#Exo2-Black') format('svg'),
          url('../fonts/thim.eot?#iefix') format('embedded-opentype');
   }

      @font-face {
   	font-family: 'Roboto_Bold'; /* Имя шрифта */
   	src: url('../fonts/Roboto-Bold.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
          url('../fonts/Roboto-Bold.woff') format('woff'),
          url('../fonts/Roboto-Bold.ttf') format('truetype'),
          url('../fonts/Roboto-Bold.svg#Exo2-Black') format('svg'),
          url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype');
   }
   @font-face {
   	font-family: 'Roboto_LightItalic'; /* Имя шрифта */
   	src: url('../fonts/Roboto-LightItalic.ttf'); /* Путь к файлу со шрифтом */
      src: url('../Roboto-LightItalic.woff2') format('woff2'),
            url('../Roboto-LightItalicr.woff') format('woff'),
            url('../Roboto-LightItalic.ttf') format('truetype'),
            url('../Roboto-LightItalic.svg#Exo2-Bold') format('svg'),
            url('../Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
   }
      @font-face {
   	font-family: 'Roboto_BoldItalic'; /* Имя шрифта */
   	src: url('../fonts/Roboto-BoldItali.ttf'); /* Путь к файлу со шрифтом */
      src: url('../Roboto-BoldItali.woff2') format('woff2'),
            url('../Roboto-BoldItali.woff') format('woff'),
            url('../Roboto-BoldItali.ttf') format('truetype'),
            url('../Roboto-BoldItali.svg#Exo2-Bold') format('svg'),
            url('../Roboto-BoldItali.eot?#iefix') format('embedded-opentype');
   }
         @font-face {
   	font-family: 'Roboto_Light'; /* Имя шрифта */
   	src: url('../fonts/Roboto-Light.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Roboto-Light.woff2') format('woff2'),
            url('../fonts/Roboto-Light.woff') format('woff'),
            url('../fonts/Roboto-Light.ttf') format('truetype'),
            url('../fonts/Roboto-Light.svg#Exo2-Bold') format('svg'),
            url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype');
   }
         @font-face {
   	font-family: 'Roboto_MediumItalic'; /* Имя шрифта */
   	src: url('../fonts/Roboto-MediumItalic.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
            url('../fonts/Roboto-MediumItalic.woff') format('woff'),
            url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
            url('../fonts/Roboto-MediumItalic.svg#Exo2-Bold') format('svg'),
            url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype');
   }
            @font-face {
   	font-family: 'Roboto_Medium'; /* Имя шрифта */
   	src: url('../fonts/Roboto-Medium.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
            url('../fonts/Roboto-Medium.woff') format('woff'),
            url('../fonts/Roboto-Medium.ttf') format('truetype'),
            url('../fonts/Roboto-Medium.svg#Exo2-Bold') format('svg'),
            url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype');
   }
               @font-face {
   	font-family: 'Roboto_Regular'; /* Имя шрифта */
   	src: url('../fonts/Roboto-Regular.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
            url('../fonts/Roboto-Regular.woff') format('woff'),
            url('../fonts/Roboto-Regular.ttf') format('truetype'),
            url('../fonts/Roboto-Regular.svg#Exo2-Bold') format('svg'),
            url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
   }

                     @font-face {
   	font-family: 'Jitzu_Swash_Medium'; /* Имя шрифта */
   	src: url('../fonts/Jitzu-Swash-Medium.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/Jitzu-Swash-Medium.woff2') format('woff2'),
            url('../fonts/Jitzu-Swash-Medium.woff') format('woff'),
            url('../fonts/Jitzu-Swash-Medium.ttf') format('truetype'),
            url('../fonts/Jitzu-Swash-Medium.svg#Exo2-Bold') format('svg'),
            url('../fonts/Jitzu-Swash-Medium.eot?#iefix') format('embedded-opentype');
   }
                        @font-face {
   	font-family: 'RedVelvet_Regular'; /* Имя шрифта */
   	src: url('../fonts/RedVelvet-Regular.ttf'); /* Путь к файлу со шрифтом */
      src: url('../fonts/RedVelvet-Regular.woff2') format('woff2'),
            url('../fonts/RedVelvet-Regular.woff') format('woff'),
            url('../fonts/RedVelvet-Regular.ttf') format('truetype'),
            url('../fonts/RedVelvet-Regular.svg#Exo2-Bold') format('svg'),
            url('../fonts/RedVelvet-Regular.eot?#iefix') format('embedded-opentype');
   }