
@media only screen and (max-width:992px){
.container{
	overflow: hidden;
}
}
@media only screen and (max-width:1200px){
	.header {
		height: auto;
	}
	.header .hed_string .gps {
		padding-top: 5px;
		margin-left: 2px;
		padding-right: 4px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-left: 25%;
		margin-right: 1%;
	}
	.header .hed_string {
		text-align: center;
	}
	.modal-content {
		width: 86%;
	}
	.bg2 .create {
		background: url(../img/bag.png) no-repeat top center;
	}
	.bg2 .get {
		background: url(../img/gold.png) no-repeat top center;
	}
	.bg2 .help {
		background: url(../img/dil.png) no-repeat top center;
	}
	.bg2 .order {
		background: url(../img/hend.png) no-repeat top center;
	}
	.bg2 .create, .bg2 .get, .bg2 .help, .bg2 .order {
		height: 465px;
	}
	.h5, h5 {
		padding: 0 15px;
	}
	.bg2 .bg3 .notepad {
		background: url(../img/notepad.png) no-repeat top center;
		width: 100%;
	}
	.h4, h4 {
		font-size: 31px;
	}
	.bg2 .bg3 .paper {
		background: url(../img/paper.png) no-repeat top center;
		width: 100%;
		box-shadow: -3px -2px 20px 3px rgba(166, 158, 158, 0.5);
	}
	.bg2 .bg3 .book {
		background: url(../img/book.png) no-repeat top center;
		width: 100%;
		right: 4px;
	}
	.bg4 {
		background: url(../img/second_bg.jpg) repeat-x;
		height: 745px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.bg4 .bg4_img {
		margin-top: 38px;
	}
	.bg4 .bg4_img img{
		margin: 20px 0;
	}
	.bg4 .bg4_usluga {
		margin-top: 31px;
	}
	.bg5 .bg5_img_objekt {
		background: url(../img/objectives.png) no-repeat top center;
		height: 386px;
		margin-left: -413px;
		width: 950px;
		margin-top: 71px;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		float: left;
		margin-left: 12px;
	}
	.bg5 .bg5_text {
		padding: 0 45px;
	}
	.footer {
		height: auto;
	}
	.footer p {
		margin: 13px;
	}
	.footer .hed_string .gps {
		padding-left: 130px;
	}
	.h6, h6 {
		padding: 8px;
	}
	.footer .phon_foot {
		margin-left: 31px;
	}
	.footer ul {
		display: block;
		text-align: center;
		li{
			margin: 10px 0;
			&:hover{
				background: #bbafaf;
			}
		}
	}
	.footer .glob_2017 {
		margin: 33px;
		text-align: center;
	}
}
@media only screen and (max-width:480px){
	.bg5 .bg5_img_objekt {
		background: url(../img/objectives.png) top center no-repeat;
		height: 386px;
		margin-left: -413px;
		width: 812px;
		background-size: 720px;
		margin-top: 71px;
	}
	.banner .we_future,.banner .invest {
		font-size: 36px;
		padding: 0 5px;
		padding-top: 41px;
	}
}
