*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix() {
  overflow: hidden;
  zoom:1;
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}

.font-face(@family, @filename: @family, @weight: normal, @style: normal){
  @font-face{
    font-family: @family;
    src:url('../fonts/@{filename}.eot');
    src:url('../fonts/@{filename}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/@{filename}.woff') format('woff'),
        url('../fonts/@{filename}.ttf') format('truetype'),
        url('../fonts/@{filename}.svg#@{filename}') format('svg');
    font-weight: @weight;
    font-style: @style;
  }
}
