body{
		font-family: Roboto_Light;
}
.container {
	padding-right: 0; 
	padding-left: 0; 
}
.header{
	font-family: IstokWeb_Regular;
	height: 73px;
	background: #201713;
	color: #ce9b25;
	.hed_tel{
		font-size: 24px;
		    margin-left: 52px;
	}
	.hed_string{
		padding-top: 16px;
		.gps{
			padding-top: 5px;
			padding-right: 10px;
		}
	}
	div{
		p{
			margin: 0;
		}
	}
	.btn {
		padding: 0 12px;
		padding-bottom: 6px;
	}
}
.navbar-default {
	background-color: #0a0a0d;
	border-color: #0a0a0d;
}
.navbar {
		font-family: IstokWeb_Regular;
	border-radius: 0;
	border-bottom: 1px solid #323047;
	.open>.dropdown-menu {
    display: block;
    left: 579px;
}
.nav>li {
    position: initial;
    display: block;
}
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #ce9b25;
	background-color:#0a0a0d;
	border-bottom: 1px solid #ce9b25;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	margin-left: 25%;
	margin-right: 25%;
}
.dropdown-menu {
	background-color: #000;
}
.dropdown-menu>li>a {
	color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #ce9b25;
	background-color: #0a0a0d;
}
.navbar {
	margin-bottom: 0;
}
.dropdown{
	&:hover{
		border-bottom: 1px solid #ce9b25;
	}
}
.banner{
	background: url(../img/bg.jpg) no-repeat top center;
	height: 573px;
	background-size: cover;
	border-bottom: 1px solid #ac7b75;
	margin-bottom: 53px;
	.we_future{
		color: #ce9b25;
		font-size: 72px;
		font-weight: 400;
		padding-top: 60px;
		font-family: thim;
	}
	.invest{
		color: #f6e7ef;
		font-size: 72px;
		text-align: center;
		font-weight: 400;
				font-family: thim;
	}
}
.bg2{
	.create,.get,.help,.order{
		height: 530px;
		text-align: center;
	}
	h2{
		font-family: Roboto_Light;
		margin-bottom: 20px;
	}
	.create{
		background: url(../img/bag.png) no-repeat;
	}
	.get{
		background: url(../img/gold.png)no-repeat;
	}
	.help{
		background: url(../img/dil.png)no-repeat;
	}
	.order{
		background: url(../img/hend.png)no-repeat;
	}
	.bg2_abzac_2 {
		width: 200px;
		color: #fff;
		margin: 0 auto;
		font-size: 16px;
	}
	.bg2_glava{
		padding-top: 20px;
		color: #fff;
		font-size: 24px;
	}
	.bg2_order{
		padding-top: 322px;
		color: #fff;
		font-size: 24px;
	}
	.bg2_order1{
		color: #fff;
		font-size: 24px;
	}
	.bg3{
		padding-top: 50px;
		.notepad,.book{
			height: 370px;
			width: 370px;
			position: relative;
			z-index: -1;
			margin-top: 34px;
		}
		.notepad{
			background: url(../img/notepad.png) no-repeat;
			left: 5px;
		}
		.paper{
			background: url(../img/paper.png) no-repeat;
			height: 445px;
			width: 443px;
			z-index: 1;
			box-shadow: 0px 14px 20px 20px rgba(0,0,0,.5);
		}
		.book{
			background: url(../img/book.png) no-repeat;
			right: 4px;
						margin-top: 34px;
		}
		.bg3_text{
			font-size: 30px;
			color:#FFF;
			text-align: center;
		}
	}
	
}
.bg4{
	background: url(../img/second_bg.jpg)repeat-x;
	height: 430px;
	margin-top: 150px;
	.bg4_text{
		color: #fff;
		width: 170px;
		margin: 0 auto;
		font-size: 16px;
	}
	.bg4_usluga{
		color: #fff;
		font-size: 36px;
	}
	.bg4_img{
		margin-top: 150px;
	}
	.col-lg-3{
		text-align: center;
	}
}
.bg5{
	padding-top: 50px;
	h4{
		font-size: 36px;
	}
	.bg5_text{
		padding-top: 70px;
		font-family: Roboto_Regular;
	}
	.bg5_img_objekt{
		background: url(../img/objectives.png) no-repeat;
		height: 386px;
		margin-left: -413px;
		width: 71%;
	}	
}
.footer{
	background: #2d1b1a;
	height: 150px;
	background-size: cover;
	margin-top: 65px;
	color: #857170;
	a{
		color: #857170;
	}
	p {
		margin: 0;
	}
	.hed_string{
		padding-top: 16px;

		.gps{
			padding-top: 5px;
			padding-right: 10px;
		}
	}
	.pad_fot{
		padding-top: 20px;

	}
	.foot_tel{
		font-size: 24px;
	}
	.phon_foot{
		padding-bottom: 9px;
		width: 21px;
		margin-right: 10px;
	}
	ul{
		display: flex;
		li{
			list-style: none;
			padding: 0 0 0 18px;
		}
	}
}